.review-us {
  display: flex;
  flex-direction: column;
  box-shadow: 4px 6px #c5b4b4;
  width: 90%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: rgb(198, 166, 207);
  /* width: 40%;
      background-color: wheat; */
}
.review-us input,
textarea {
  width: 80%;
  margin: 8px;
  color: red;
}
.review-us button {
  margin-top: 15px;
  margin-bottom: 30px;
}
.input-portion {
  margin-bottom: 30px;
  margin-top: 20px;
}
.review-us h2 {
  margin-top: 10px;
  color: rgb(13, 65, 33);
}
@media screen and (max-width: 480px) {
  .review-us {
    width: 95%;
    margin: auto;
  }
}
